<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>Enter the Prompt </h1>
        <form action="/generate" method="post">
            <textarea name="htmlTheme" class="code" placeholder="enter HTML"></textarea><br>
            <textarea name="promptcontent" class="code" placeholder="enter PROMPT"></textarea><br>
            <button type="submit">Generate</button>
        </form>
    </section>
</body>
</html>
